.app-bar {
  align-items: flex-end;
  display: flex;
  height: 65px;
  left: 0;
  min-width: 375px;
  padding: 0 12px;
  position: fixed;
  top: 0;
  z-index: 2;
}

.normal-button {
  align-items: flex-start;
  border-radius: 8px;
  display: flex;
  height: min-content;
  margin-bottom: 4px;
  margin-left: 185px;
  overflow: hidden;
  padding: 8px;
  width: min-content;
}

.icons-icon {
  height: 24px;
  min-width: 24px;
  position: relative;
}

.union-2 {
  height: 12px;
  left: 3px;
  position: absolute;
  top: 6px;
  width: 18px;
}

.logo-placeholder {
  align-items: center;
  display: flex;
  height: min-content;
  padding: 10px 12px;
  width: min-content;
}

.place {
  color: #28352f;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 28px;
  margin-top: -1px;
  min-width: 90px;
  text-align: center;
  white-space: nowrap;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headline {
  background-image: url("img/header-illsutration-mobile.svg");
  background-repeat: no-repeat, no-repeat;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: min-content;
  left: 0;
  padding: 64px 24px;
  position: absolute;
  top: 64px;
  width: min-content;
}

.primary {
  font-family: sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  margin-top: -1px;
  text-align: center;
  width: 327px;
}

.span1 {
  color: #29ab87;
}

.action-1 {
  height: 48px;
  min-width: 327px;
}

.supporting-text {
  color: rgba(23, 43, 77, 1);
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 28px;
  text-align: center;
  width: 327px;
  height: 164px;
}

.social-media-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}

li a {
  padding-left: 1em;
}

ul {
  list-style-type: none;
}

.recent-works-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 58px;

  position: absolute;
  width: 379px;
  height: 3412px;
  left: 0px;
  top: 708px;
}
.recent-works-recent-works {
  width: 379px;
  height: 3412px;
  display: flex;
  padding: 64px 24px;
  overflow: hidden;
  position: relative;
  max-width: 379px;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
}
.recent-works-text {
  display: flex;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 58px;
  flex-direction: column;
}
.recent-works-text01 {
  color: #3A4A42;
  width: 327px;
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: sans-serif;
  font-weight: 700;
  line-height: 52px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 24px;
  text-decoration: none;
}
.recent-works-indicator {
  width: 48px;
  height: 4px;
  position: relative;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 24px;
  margin-bottom: 0;
}
.recent-works-card-work-row1 {
  display: flex;
  padding: 4px 2px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
}
.recent-works-card-enable {
  width: 327px;
  height: 474px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 24px;
}
.recent-works-img-plaholder {
  top: 0px;
  left: 0px;
  width: 327px;
  height: 474px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(208, 217, 212, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
}
.recent-works-text03 {
  top: 250px;
  left: 1px;
  width: 327px;
  display: flex;
  padding: 16px;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  flex-direction: column;
  background-color: white;
}
.recent-works-text04 {
  color:#3A4A42;
  width: 295px;
  font-size: 24px;
  height: auto;
  align-self: auto;
  text-align: center;
  margin-right: 0;
  margin-bottom: -20px;
}
.recent-works-tags {
  display: flex;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  margin-right: 0;
  height: 26px;
}
.recent-works-tag {
  display: flex;
  padding: 0px 12px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  margin-right: 8px;
  border-radius: 4px;
  margin-bottom: 0;
  background-color: #EBF0EE;
}
.recent-works-text06 {

  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.recent-works-tag01 {
  display: flex;
  padding: 0px 12px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  margin-right: 8px;
  border-radius: 4px;
  margin-bottom: 0;
  background-color: #EBF0EE;
}
.recent-works-text08 {
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.recent-works-tag02 {
  display: flex;
  padding: 0px 12px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  margin-right: 8px;
  border-radius: 4px;
  margin-bottom: 0;
  background-color: #EBF0EE;
}
.recent-works-text10 {
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.recent-works-tag03 {
  display: flex;
  padding: 0px 12px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  margin-right: 0;
  border-radius: 4px;
  margin-bottom: 0;
  background-color: #EBF0EE;
}
.recent-works-text12 {
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.recent-works-action {
  width: 305px;
  height: 69px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.recent-works-button-enable {
  top: 20px;
  left: 92px;
  width: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  margin-right: 0;
  border-radius: 4px;
  margin-bottom: 0;
  background-color: #36B37F;
}
.recent-works-text14 {
  color: white;
  height: auto;
  align-self: auto;
  text-align: center;
  line-height: 0px;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 18px;
}
